.radioButtonDiv {
    display: flex;
    height: 40px;
    background-color: #d0eab4;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
  }

.latLongDataHeading {
    background-color: white;
    position: absolute;
    top: 48px;
    left: 6px;
    padding: 10px;
    z-index: 1000;
}

.liveLocationRadio{

}

.historyTrackRadio{
    margin-left: 16px;
}

.labelClass {
    margin-left: 6px;
}