.container{
  background-image: url('../../../public/images/Background.jpg');
  background-size: cover;
 background-position: center;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.mapContainer{
   background-color: hsl(208, 42%, 53%);
 }
 
.container{
   background-color: rgba(18, 21, 23, 0.473);
   background-size: 100%;
   width: 70%;
   margin: auto;
   padding: 10px;
   border-radius: 5px;
   align-items: center;
   box-shadow: 0 0 5px #000; 
 }










